body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    margin: 30px;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #0073e6; 
}

label {
    display: block;
    margin-bottom: 8px;
    color: #0073e6; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0073e6;
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005bb5; 
}

legend {
    font-size: 1.5em;
    color: #0073e6; 
    margin-bottom: 20px;
    border: solid 1px gray;
}

fieldset {
    border: solid 1px gray;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.error {
    color: red; 
    margin-bottom: 20px;
}

#text2 {
    font-style: italic;
}

.asterisk {
    color: rgb(255, 7, 7); 
}
